.cart_container {
    background-color: #ebebf8;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    overflow-y: scroll;
    flex-direction: row;
    width: 100vw;
}

.table_container {
    width: 100vw;
    margin: 3rem;
}

.quantity_imput {
    width: 6rem !important;
    background-color: red;
}

