:root {
  --dinefa-darkBlue: #010b82;
  --dinefa-ligthBlue: #086ffd;
  --dinefa-white: #ebebf8;
  --dinefa-orange: #f5bf4b;
  --dinefa-pink: #f843db; 
}

@font-face {
  font-family: 'Libre-Frankin';
  src: 
      local('Libre-Frankin'), 
      url('./assets/fonts/LibreFranklin-VariableFont_wght.ttf') format('opentype');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
